.conteiner-movie-details {
  padding-left: 10px;
  padding-bottom: 30px;
}

.back-btn {
  margin: 25px 0 15px 0;
  background-color: antiquewhite;
  border: none;
  display: flex;
}

.back-btn-nav {
  text-decoration: underline burlywood;
  color: #111;
  font-weight: 600;
}
.back-btn-nav:hover {
  color: burlywood;
  text-decoration: underline #111;
}

.movie-deteils-img {
  width: 500px;
  height: 281px;
}

.active,
.notActive {
  text-decoration: none;
  color: #111;
  padding: 0 10px;
}

.active {
  font-weight: 500;
  text-decoration: underline;
}
