@import url("../header/header.module.css");
@import url("../../pages/notFound/notFound.module.css");
@import url("../../pages/homePage/homePage.module.css");
@import url("../../pages/movieDetailsPage/movieDetailsPage.module.css");
@import url("../../components/movieCast/movieCast.module.css");
@import url("../../pages/moviesPage/moviesPages.module.css");

#root {
  max-width: 1280px;
}

body {
  background-color: antiquewhite;
  margin: 0 auto;
}
